env:
  HOSSTED_API_URL: "https://api.hossted.com/v1/instances"
  EMAIL_ID: ""
  RECONCILE_DURATION: "10s"
  HOSSTED_ORG_ID: ""
  CONTEXT_NAME: ""
  LOKI_PASSWORD: ""
  LOKI_URL: ""
  LOKI_USERNAME: ""
  MIMIR_PASSWORD: ""
  MIMIR_URL: ""
  MIMIR_USERNAME: ""
  CLOUD_PROVIDER: "azure"
  MARKET_PLACE: "enabled"
  PRODUCT_CODE: "64563"
  AWS_REGION: "us-east-1"
  HOSSTED_TOKEN: ""
  HOSSTED_USER_ID: ""

replicas: 1

customValuesHolder:
  grafana_product_name: argocd

secret:
  HOSSTED_AUTH_TOKEN: "notoken"

stop: true

cve:
  enable: false
monitoring:
  enable: false
logging:
  enable: false
ingress:
  enable: false

nameOverride: hossted

servicemonitors:
  create: false

operator:
  image:
    repository: hossted/operator
    tag: edge

primaryCreds:
  namespace: "hossted-argocd"
  user: 
    type: "plaintext"
    text: "admin"
  password:
    key: "password"
    secretName: "argocd-initial-admin-secret"

customValuesHolder:
  hosstedCustomIngressName:
    - hossted-argocd-server

helm:
  - releaseName: "hossted-argocd"
    namespace: "hossted-argocd"
    values:
      - "global.domain=argocd.f.hossted.app"
      - "configs.params.server\\.insecure=true"
      - "server.ingress.enabled=true"
      - "server.ingress.hostname=argocd.f.hossted.app"
      - "server.ingress.ingressClassName=hossted-operator"
      - "server.ingress.tls=false"
      - "server.ingress.annotations.nginx\\.ingress\\.kubernetes\\.io/backend-protocol=HTTP"
    repoName: "argo"
    chartName: "argo-cd"
    repoUrl: "https://argoproj.github.io/argo-helm"


serviceAccount:
  create: true
  name: "hossted-argocd"
